<%- include('./partials/header'); -%>

            <li class="nav-item"><a href="login" class="nav-link">Login</a></li>
            <li class="nav-item"><a href="register" class="nav-link active" aria-current="page">Register</a></li>        
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        </ul>

      
    </header>
    <h1><%= title %></h1>    
    <h2><%= error %></h2>
    
    <div>    
        <h2>Register Here</h2>
        <form method='POST' action="">
            <fieldset>
                <legend>Add New Category</legend>
                <div>
                    <label for="email">Email Address: </label>                    
                    <input type="text" id="email" name="email" required minlength="3" maxlength="30" value=<%= email %>>
                </div>
                <div>
                    <label for="password">Password: </label>
                    <input type="password" id="password" name="password" required>                    
                </div>
                <div>
                    <label for="confirmPassword">Confirm Password: </label>
                    <input type="password" id="confirmPassword" name="confirmPassword" required>                    
                </div>
            </fieldset>
            <button type="submit">Register</button>
        </form>
    </div>

<%- include('./partials/footer'); -%>
